table {
  margin: 0 auto;
  width: 60%;
}

button {
  border: none;
  padding: 5px;
  cursor: pointer;
}

#delete {
  width: 80px;
}


#edit {
  background-color: orange;
  width: 50px;
}

#save {
  background-color: #28a745;
}


