<table class="table table-striped" id="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Task</th>
    <th scope="col">Check</th>
    <th scope="col">Done/In Progress</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of tasks; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ task.name }}
    </td>
    <td><input type="checkbox" (click)="changeStatus(task)"></td>
    <td>{{task.status}}</td>
    <td>
      <button id="edit" (click)="editTaskName(task)">Edit</button>
    </td>
    <td>
      <button id="delete" (click)="deleteTask(i)">Delete</button>
    </td>
  </tr>
  <tr id="editRow"></tr>
  </tbody>
</table>
