.edit-wrapper {
  margin: 0 auto;
  width: 60%;
  padding: .75rem;
  display: flex;
  justify-content: center;
}
input {
  padding: .30rem;
  margin-right: 30px;
}
#edit-task {
  padding: .75rem;
}
#editedInput {
  margin-right: 40px;
}
button {
  width: 50px;
  padding: .45rem;
  color: white;
}
